<html>

<head>
    <title>Display ID</title>
    <link href="../static/style_displayID.css" rel="stylesheet">
    <script language="JavaScript">
        function goHome() {
            window.location.href = "/";
        }
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script>
        function delete_flash(flash) {
            $(flash).parent().remove()
        }
    </script>
</head>

<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="{{ category }}" id="flash_hide">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <header>
        <a href="/" class="logo">PlanT</a>
        <ul class="nav-links">
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/systems">Systems</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </header>
    <h1>Set Display ID</h1>
    <p>Your display ID is used to identify yourself to your friends!</p>
    <form id="display_id" action="/displayid" method="post">
        <fieldset>
            <input type="text" class="form-control" id="displayID" name="displayID" placeholder="Display ID" required>
        </fieldset>
        <input type="submit" value="Create ID" name="login" class="btn btn-primary" id="display_id">
        <input class="btn" type="button" value="Cancel" onClick="goHome()">
    </form>
</body>

</html>