<html>

<head>
    <meta name="viewport" content="with=device-width, initial-scale=1.0">
    <title>PlanItHome</title>
    <link rel="stylesheet" href="../static/style_index.css" />
</head>

<body>
    <header>
        <a href="/" class="logo">PlanT</a>
        <ul class="nav-links">
            <li><a class="active" href="/">Home</a></li>
            <li><a href="/signup">Sign Up</a></li>
            <li><a href="/login">Login</a></li>
        </ul>
    </header>
    <p>Welcome to PlanT, a platform to help organize you and your friends' busy lives!</p>
    <br>
    <p>PlanT provides all the tools you need to schedule events for your own person life, or for events with your
        friends, all in one place.</p>
    <p>No more scheduling across multiple different applications!</p>
    <br><br>
    <p><a href="/signup">Come try out PlanT today!</a></p>
</body>

</html>